


body {	 
	background:#ffffff url()   !important;
	color:#000;
	font-family: Lusitana, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
	font-size: 18px;
	font-weight: normal;
}
::selection { background: #000; color:#fff; text-shadow: none; }

h1, h2, h3, h4, h5, h6 {font-family: Playfair Display, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;}
h1 { 	
	color:#000;
	font-size: 64px !important;
	}
	
h2, .term-description p { 	
	color:#000;
	font-size: 50px !important;
	}

h3 { 	
	color:#000000;
	font-size: 40px !important;
	}

h4 { 	
	color:#000000;
	font-size: 34px !important;
	}	
	
h5 { 	
	color:#000000;
	font-size: 28px !important;
	}	

h6 { 	
	color:#000000;
	font-size: 22px !important;
	}	

.pagenav a {font-family: Lusitana !important;
			  font-size: 16px;
			  font-weight:normal;
			  color:#fff;
}
.menu-fixedmenu a {color:#000;}

a, select, input, textarea, button{ color:#111;}
h3#reply-title, select, input, textarea, button {font-family: Lusitana, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;}

.prev-post-title, .next-post-title{font-family: Playfair Display, "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;}

/* ***********************
--------------------------------------
------------MAIN COLOR----------
--------------------------------------
*********************** */

a:hover, span, .current-menu-item a

{
	color:#5DBBCB;
}

.su-quote-style-default  {border-left:5px solid #5DBBCB;}

 
/* ***********************
--------------------------------------
------------BACKGROUND MAIN COLOR----------
--------------------------------------
*********************** */

.top-cart
  {
	background:#5DBBCB ;
}



 /* ***********************
--------------------------------------
------------BOXED---------------------
-----------------------------------*/
  
 
 
 
/* ***********************
--------------------------------------
------------RESPONSIVE MODE----------
--------------------------------------
*********************** */


@media screen and (min-width:0px) and (max-width:1220px){
	
	.main,   #header, #footerb, .block2, #footer {width: 94%; padding-left:3%;padding-right:3%; }
	.top-nav {width: 100%; padding-left:0%;padding-right:0%;}
	.pagecontent, .block2_content, #footerinside{width:100%;}
    .blogimage img, .blogsingleimage img, .related img, #slider-category img{width:100%;height:auto;}
	.bx-viewport {height:auto;}

	
	.block2_social:before, .social_text, .pagenav.fixedmenu {display:none !important;}
	.block2_social .social_content  {margin-left:0;}
	.block2_social .social_content {margin-top:0;}
	.block2_social {top:0; padding:10px;background:#fff;}
	.block1 p, .block1 a:hover p {background:none;color:#fff;}
	
	/* BLOG */
	
	.blog_social, .socialsingle {background-position: -11px 21px;}
	.right-part {width:85%;}
	.mainwrap.single-default.sidebar .right-part {width:70% !important;}
	
	/* FOOTER */
	.lowerfooter {background:#111;height:2px;padding:0;margin-top:0px;}
	.footer_widget3 {float:left;}
	div#logo img {height:auto;max-width:100%;}
	.left-footer-content, .right-footer-content {margin-top:30px;}
	
	/* WITH SIDEBAR */
	
	.mainwrap.sidebar .content.blog, .mainwrap.single-default.sidebar .main .content.singledefult{width:60% !important;margin-right:1% !important;}
	.mainwrap.sidebar .postcontent, .mainwrap.single-default.sidebar .content.singledefult .related img  {width:100% !important;}
	.mainwrap .sidebar {width: 30% !important; float: left; }	
	.widget-line {width:100%;}
}


@media screen and (min-width:0px) and (max-width:960px){
	
	.pagenav {display:none;}
	
	
	/* MENU */
	
	.respMenu {width:100% !important;float:none !important; text-transform:uppercase;background:#fff;background:rgba(255,255,255,1);border-left:1px solid #eee;border-right:1px solid #eee; text-align: center; color:#121212;font-weight:normal;     cursor:pointer;display:block;}
	.resp_menu_button {position:absolute;display:inline-block; text-align:center;margin:0 auto;top:38px;background: url(images/scribbo-resp-menu-icon.png) 0 0px no-repeat;z-index:9999;width:32px;height:32px;margin-left:-16px;}
	.respMenu .menu-main-menu-container {margin-top:100px;}
	.event-type-selector-dropdown {display:none;margin-top:100px;}
	.respMenu a{border-left:1px solid #eee;border-right:1px solid #eee; background:#fff;width:94%;font-size:14px;font-weight:bold;padding:10px 3%; border-bottom:1px solid #ddd;text-transform:uppercase !important;float:left;text-align: left !important;text-transform:none;font-weight:normal;}
	
	.right-part {width:80%;}
	.mainwrap.single-default.sidebar .right-part {width:55% !important;}
	.blog_social, .socialsingle {margin-top:45px;}
	textarea {width:97%;}
}

@media screen and (min-width:0px) and (max-width:768px){
	h1 {font-size:48px !important;}
	h2 {font-size:36px !important;}
	h3 {font-size:28px !important;}
	h4 {font-size:24px !important;}
	h5 {font-size:22px !important;}
	h6 {font-size:18px !important;}
    .right-part{width:78%;}
	.mainwrap.single-default.sidebar .right-part  {width:75% !important;}

	.link-title-next {float:left;}
	.link-title-next span, .next-post-title {float:left;text-align:left;}
	
	/* WITH SIDEBAR */
	
	.sidebar .sidebar{display:none;}
	.mainwrap.sidebar .content.blog, .mainwrap.single-default.sidebar .main .content.singledefult {width:100% !important;}
}

@media screen and (min-width:0px) and (max-width:720px){
	.footer_widget1, .footer_widget2, .footer_widget3 {width:100%;text-align:center;}
	.footer_widget3 {margin-bottom:30px;}
	.footer_widget2 .widget.widget_text p {padding-left:0;}
	#footer .social_icons {float:left;margin-top:20px;position:relative;left:50%;margin-left:-100px;  }
	.footer_widget1 {margin-bottom:30px;}
	
	#footerb .copyright {float:left;margin-top:30px; text-align:center;}
	.right-part {width:75%;}

	img.alignleft, img.alignright {width:100%;height:auto;margin-bottom:20px;}
}

@media screen and (min-width:0px) and (max-width:620px){
	.block1 a{width:94%;padding-left:3%;padding-right:3%; float:left;}
	.block1 p, .block1 a:hover p {position:relative;margin-bottom:40px;width:100%;color:#000;line-height:18px;font-weight:bold;}
	
	.block2_social {width: 100%;left:0;margin:0; position:relative;float:left;background:#f4f4f4 !important;padding:25px 0 15px 0;}
	.block2_social .social_content {width:auto;}
	
	.left-footer-content, .right-footer-content {width:100%;float:left;text-align:center;margin-top:0;}
	
	.related .one_third {width:100%;margin-bottom:30px;}
	.right-part {width:70%;}
	

	.post-meta {padding-bottom:100px;}
	.post-meta a {width:100%;padding:0px;float:left;}
	.post-meta a:after {display:none;}
	
	.addthis_toolbox a {width:52px;height:52px;margin:0 4px;}
	.addthis_toolbox a img {margin-left:4px;}
	.block2_content {margin-top:10px;}
	
	/* INSTAGRAM */
	
	h5.block3-instagram-title {font-size:36px !important;}
	.block3-instagram-username {display:none;}
		
}
	
	
@media screen and (min-width:0px) and (max-width:515px){	
	.specificComment .blogAuthor {display:none;}
	.right-part {width:100%;}
	.mainwrap.single-default.sidebar .right-part  {width:100% !important;}
	h1 {font-size:40px !important;}
	h2, .mainwrap.blog.sidebar h2.title, .mainwrap.single-default.sidebar h2.title {font-size:28px !important;}
	h3 {font-size:24px !important;}
	h4 {font-size:20px !important;}
	h5 {font-size:18px !important;}
	h6 {font-size:16px !important;}
	.blog_category {font-size:13px;}
	.gallery-single {text-align:center;}
	.image-gallery, .gallery-item {float:none;}
}

@media screen and (min-width:0px) and (max-width:415px){	
	
}
	

/* ***********************
--------------------------------------
------------CUSTOM CSS----------
--------------------------------------
*********************** */

.footer_widget2 {
    width: 100%;
    text-align: center;
}
.footer_widget2 .widget.widget_text p {
    padding-left: 0px;
}